#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe > #backgroundBox {
  position: absolute;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Path_36 {
  position: absolute;
  width: 128.771484375px;
  height: 99.97402954101562px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Path_142 {
  position: absolute;
  width: 29.434539794921875px;
  height: 26.750051498413086px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Path_23 {
  position: absolute;
  width: 114.91850280761719px;
  height: 85.94371032714844px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Path_14 {
  position: absolute;
  width: 125.46000671386719px;
  height: 99.14020538330078px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Path_25 {
  position: absolute;
  width: 108.74900817871094px;
  height: 85.44241333007812px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Path_6 {
  position: absolute;
  width: 95.183837890625px;
  height: 109.27814483642578px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_5 {
  position: absolute;
  width: 138.33343282341923px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_8 {
  position: absolute;
  width: 170.13220214843662px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Path_63 {
  position: absolute;
  width: 75.44709014892578px;
  height: 87.42044067382812px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Path_1 {
  position: absolute;
  width: 61.4570198059082px;
  height: 48.5341796875px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Path_2 {
  position: absolute;
  width: 57.0px;
  height: 53.281272888183594px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Path_4 {
  position: absolute;
  width: 54.630828857421875px;
  height: 55.33005142211914px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_1 {
  position: absolute;
  width: 105.82031250000188px;
  min-height: 32.3125px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Corbel',Arial;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Path_8 {
  position: absolute;
  width: 45.354000091552734px;
  height: 46.30099868774414px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Path_9 {
  position: absolute;
  width: 8.044331550598145px;
  height: 19.931116104125977px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Button_1 {
  position: absolute;
  width: 45.322999954224116px;
  min-height: 42.228844266603915px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Button_1 > .borderLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Path_15 {
  position: absolute;
  width: 53.0px;
  height: 41.8984375px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Button_2 {
  position: absolute;
  width: 47.85400009155141px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Button_2 > .borderLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Group_1 {
  z-index: 100;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_2 {
  position: absolute;
  width: 36.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_2 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_2 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_2 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.75pt;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.75pt;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Path_3 {
  position: absolute;
  width: 17.0px;
  height: 10.66670036315918px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Path_5 {
  position: absolute;
  width: 15.27301025390625px;
  height: 10.965625762939453px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Path_7 {
  position: absolute;
  width: 23.8280029296875px;
  height: 11.33331298828125px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Path_10 {
  position: absolute;
  width: 15.5px;
  height: 7.1457977294921875px;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe #s-Group_1 > * {
  z-index: 100;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4565c923-1e3c-4f8d-8da7-cdd0db9800fe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}