#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 > #backgroundBox {
  position: absolute;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Image {
  position: absolute;
  width: 430.0000000000016px;
  height: 709.1015625px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Paragraph_1 {
  position: absolute;
  width: 105.82031250000188px;
  min-height: 32.3125px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Corbel',Arial;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Paragraph_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Rectangle_7 {
  position: absolute;
  width: 50.233644859812955px;
  min-height: 45.0px;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  filter:  drop-shadow(5.51091059616309E-16px -3.0px 3px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 0.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Rectangle_7 > .borderLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 0.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 0.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Rectangle_8 {
  position: absolute;
  width: 50.233644859812955px;
  min-height: 45.0px;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  filter:  drop-shadow(-3.0px -0.0px 2px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 9.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Rectangle_8 > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D1D1D6;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 9.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 9.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Path_14 {
  position: absolute;
  width: 28.730430603027344px;
  height: 26.730440139770508px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Path_26 {
  position: absolute;
  width: 31.015117645263672px;
  height: 6.253898620605469px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Path_27 {
  position: absolute;
  width: 46.06859588623047px;
  height: 53.92605209350586px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Path_28 {
  position: absolute;
  width: 8.961432456970215px;
  height: 25.40853500366211px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Path_29 {
  position: absolute;
  width: 45.323001861572266px;
  height: 49.488502502441406px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Path_30 {
  position: absolute;
  width: 8.81639575958252px;
  height: 23.317676544189453px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Union_2 {
  position: absolute;
  width: 199.8092041015625px;
  height: 156.177490234375px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Ellipse_1 {
  width: 50.000000000004945px;
  height: 45.3320272888497px;
  min-height: 45.3320272888497px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #4CD864;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Subtraction_5 {
  position: absolute;
  width: 25.215423583984375px;
  height: 22.905426025390625px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Paragraph_2 {
  position: absolute;
  width: 188.5429687499987px;
  min-height: 35.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Corbel',Arial;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Paragraph_2 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Ellipse_2 {
  width: 32.999999999999545px;
  height: 28.0px;
  min-height: 28.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #8E8E93;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Subtraction_6 {
  position: absolute;
  width: 17.152191162109375px;
  height: 14.721389770507812px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_2 {
  position: absolute;
  width: 50.00000000000131px;
  min-height: 45.32812499999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_2 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_3 {
  position: absolute;
  width: 30.271484374999716px;
  min-height: 39.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_3 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Path_2 {
  position: absolute;
  width: 61.4570198059082px;
  height: 48.5341796875px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Path_3 {
  position: absolute;
  width: 57.0px;
  height: 53.281272888183594px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Path_4 {
  position: absolute;
  width: 54.630828857421875px;
  height: 55.33005142211914px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Input_1 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Input_1 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Input_1 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Input_1 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Input_1 {
  position: absolute;
  width: 312.39160136017495px;
  height: 41.89843749999926px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #EFEFF2;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Input_1 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 32px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Path_1 {
  position: absolute;
  width: 16.76076889038086px;
  height: 16.91897964477539px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Path_5 {
  position: absolute;
  width: 12.0px;
  height: 17.269668579101562px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Path_6 {
  position: absolute;
  width: 18.00006103515625px;
  height: 17.99981689453125px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Path_8 {
  position: absolute;
  width: 45.354000091552734px;
  height: 46.30099868774414px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Path_9 {
  position: absolute;
  width: 8.044331550598145px;
  height: 19.931116104125977px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_1 {
  position: absolute;
  width: 45.322999954224116px;
  min-height: 42.228844266603915px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_1 > .borderLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Path_10 {
  position: absolute;
  width: 53.0px;
  height: 41.8984375px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_4 {
  position: absolute;
  width: 47.85400009155141px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_4 > .borderLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Group_4 {
  z-index: 100;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Paragraph_3 {
  position: absolute;
  width: 36.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Paragraph_3 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Paragraph_3 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Paragraph_3 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.75pt;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.75pt;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Path_7 {
  position: absolute;
  width: 17.0px;
  height: 10.66670036315918px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Path_11 {
  position: absolute;
  width: 15.27301025390625px;
  height: 10.965625762939453px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Path_12 {
  position: absolute;
  width: 23.8280029296875px;
  height: 11.33331298828125px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Path_13 {
  position: absolute;
  width: 15.5px;
  height: 7.1457977294921875px;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 #s-Group_4 > * {
  z-index: 100;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-597a0da0-b300-43bb-b4ca-cf2447c7f126 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}