#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c > #backgroundBox {
  position: absolute;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Image_6 .imageViewport > * {
  width: 100.0%;
  height: 103.80977577882136%;
  left: -0.0%;
  top: -3.809775778821347%;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Image_6 {
  position: absolute;
  width: 430.0px;
  height: 524.9652777777776px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_1 {
  position: absolute;
  width: 430.0px;
  min-height: 109.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #FFFFFF00 71.40585408475316%);
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_11 {
  position: absolute;
  width: 428.9953271028038px;
  min-height: 497.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(3.6739403974420594E-16px -2.0px 5px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_11 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.6938775510204207%, #F3F3F3 89.83673469387757%);
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_11 > .borderLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_11 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_11 .paddingLayer {
  padding-top: 20px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_11 .valign {
  vertical-align: top;
  text-align: center;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_11 span {
  color: #F8F8F8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 18px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #F8F8F8;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 18px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rect_10 {
  position: absolute;
  width: 39.0px;
  height: 5.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rect_61 {
  position: absolute;
  width: 30.14019775390625px;
  height: 30.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_147 {
  position: absolute;
  width: 10.419097900390625px;
  height: 10.3704833984375px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_38 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_38 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_38 .valign {
  vertical-align: top;
  text-align: left;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_38 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_38 span#rtr-s-Paragraph_38_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c .s-Category_1 .line_options.selected {
  background-color: #000000 !important;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c .s-Category_1 .selected > .options {
  color: #FFFFFF !important;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c .s-Category_1 .line_options:hover {
  background-color: #000000 !important;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c .s-Category_1 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_1 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_1 {
  position: absolute;
  width: 100.0px;
  height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_1 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D1D1D6;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D1D1D6;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D6;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D1D1D6;
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_1 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c .s-Category_4 .line_options.selected {
  background-color: #D1D1D6 !important;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c .s-Category_4 .selected > .options {
  color: #FFFFFF !important;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c .s-Category_4 .line_options:hover {
  background-color: #D1D1D6 !important;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c .s-Category_4 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_4 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_4 {
  position: absolute;
  width: 109.0px;
  height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_4 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D1D1D6;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D1D1D6;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D6;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D1D1D6;
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_4 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_5 .icon {
  background-image: url('../../images/19058c08-9821-406b-b6d2-48324697cd20.png');
  background-size: auto;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_5 .value {
  margin-right: 13.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c .s-Category_5 .line_options.selected {
  background-color: #5FA6FC !important;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c .s-Category_5 .selected > .options {
  color: #FFFFFF !important;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c .s-Category_5 .line_options:hover {
  background-color: #5FA6FC !important;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c .s-Category_5 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_5 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_5 {
  position: absolute;
  width: 136.0px;
  height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_5 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_5 > .backgroundLayer > .colorLayer {
  background-color: #0A7AFF;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #0A7AFF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #0A7AFF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #0A7AFF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #0A7AFF;
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_5 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Category_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 39px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_8 {
  position: absolute;
  width: 18.229999542236328px;
  height: 14.34406852722168px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_2 {
  position: absolute;
  width: 395.9999999999999px;
  min-height: 131.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_3 {
  position: absolute;
  width: 70.32710280373823px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 16.0px;
  border-top-right-radius: 16.0px;
  border-bottom-right-radius: 16.0px;
  border-bottom-left-radius: 16.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #4CD864;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 16.0px;
  border-top-right-radius: 16.0px;
  border-bottom-right-radius: 16.0px;
  border-bottom-left-radius: 16.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 16.0px;
  border-top-right-radius: 16.0px;
  border-bottom-right-radius: 16.0px;
  border-bottom-left-radius: 16.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 15.75pt;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 15.75pt;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_1 {
  position: absolute;
  width: 265.2336448598129px;
  min-height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 18.0pt;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 18.0pt;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_2 {
  position: absolute;
  width: 265.2336448598129px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_2 span {
  color: #8E8E93;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #8E8E93;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Button_2 {
  position: absolute;
  width: 76.35514018691576px;
  min-height: 27.200000000000045px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 13.0px;
  border-top-right-radius: 13.0px;
  border-bottom-right-radius: 13.0px;
  border-bottom-left-radius: 13.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F7;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Button_2 > .borderLayer {
  border-top-left-radius: 13.0px;
  border-top-right-radius: 13.0px;
  border-bottom-right-radius: 13.0px;
  border-bottom-left-radius: 13.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 13.0px;
  border-top-right-radius: 13.0px;
  border-bottom-right-radius: 13.0px;
  border-bottom-left-radius: 13.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Button_2 span {
  color: #8E8E93;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Button_2 span#rtr-s-Button_2_0 {
  color: #8E8E93;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_19 {
  position: absolute;
  width: 10.461939811706543px;
  height: 16.769550323486328px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_20 {
  position: absolute;
  width: 7.75px;
  height: 9.10589599609375px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_22 {
  position: absolute;
  width: 24.75729751586914px;
  height: 19.479999542236328px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_22 {
  position: absolute;
  width: 400.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_22 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_22 > .backgroundLayer > .colorLayer {
  background-color: #ECECEE;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_22 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D6;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_22 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_22 span#rtr-s-Rectangle_22_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_10 {
  position: absolute;
  width: 19.0px;
  height: 13.219146728515625px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Ellipse_2 {
  width: 22.0px;
  height: 22.0px;
  min-height: 22.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #0A7AFF;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_1 {
  position: absolute;
  width: 11.163436889648438px;
  height: 11.119999885559082px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_4 {
  position: absolute;
  width: 400.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #ECECEE;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_4 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D6;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_2 {
  position: absolute;
  width: 19.0px;
  height: 13.219146728515625px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Ellipse_3 {
  width: 22.0px;
  height: 22.0px;
  min-height: 22.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #FEB300;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_12 {
  position: absolute;
  width: 11.5px;
  height: 10.579999923706055px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_5 {
  position: absolute;
  width: 400.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #ECECEE;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_5 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D6;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_15 {
  position: absolute;
  width: 19.0px;
  height: 13.219146728515625px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_4 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Ellipse_4 {
  width: 22.0px;
  height: 22.0px;
  min-height: 22.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #66C6ED;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_6 {
  position: absolute;
  width: 12.221811294555664px;
  height: 11.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_6 {
  position: absolute;
  width: 400.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #ECECEE;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_6 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D6;
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_5 span {
  color: #0A7AFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #0A7AFF;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_17 {
  position: absolute;
  width: 19.0px;
  height: 13.219146728515625px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_5 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_5 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Ellipse_5 {
  width: 22.0px;
  height: 22.0px;
  min-height: 22.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_5 > .backgroundLayer > .colorLayer {
  background-color: #0A7AFF;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_21 {
  position: absolute;
  width: 11.934783935546875px;
  height: 11.888229370117188px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rect_8 {
  position: absolute;
  width: 135.0px;
  height: 5.0px;
  z-index: 100;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_21 {
  position: absolute;
  width: 50.233644859812955px;
  min-height: 45.0px;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  filter:  drop-shadow(5.51091059616309E-16px -3.0px 3px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_21 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 0.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_21 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_21 > .borderLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 0.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_21 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 0.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_21 span#rtr-s-Rectangle_21_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_20 {
  position: absolute;
  width: 50.233644859812955px;
  min-height: 45.0px;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  filter:  drop-shadow(-3.0px -0.0px 2px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_20 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 9.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_20 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_20 > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D1D1D6;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 9.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_20 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 9.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_51 {
  position: absolute;
  width: 17.49169158935547px;
  height: 17.423633575439453px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_16 {
  position: absolute;
  width: 18.224828720092773px;
  height: 14.34000015258789px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-statusBar_9 {
  z-index: 100;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Text_17 {
  position: absolute;
  width: 36.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Text_17 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Text_17 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Text_17 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Text_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Text_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.75pt;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Text_17 span#rtr-s-Text_17_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.75pt;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_87 {
  position: absolute;
  width: 17.0px;
  height: 10.66670036315918px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_88 {
  position: absolute;
  width: 15.27301025390625px;
  height: 10.965625762939453px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Union_10 {
  position: absolute;
  width: 23.8280029296875px;
  height: 11.33331298828125px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_7 {
  position: absolute;
  width: 15.5px;
  height: 7.1457977294921875px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-statusBar_9 > * {
  z-index: 100;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_4 {
  position: absolute;
  width: 35.901123046875px;
  height: 42.19669723510742px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_5 {
  position: absolute;
  width: 19.443790435791016px;
  height: 17.5px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_3 {
  position: absolute;
  width: 35.901123046875px;
  height: 42.19669723510742px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Path_9 {
  position: absolute;
  width: 19.5px;
  height: 17.940000534057617px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Button_6 {
  position: absolute;
  width: 71.99999999999977px;
  min-height: 70.99999999999955px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Button_6 > .backgroundLayer > .colorLayer {
  background-color: #0A84FF;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Button_6 > .borderLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Button_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Button_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 13.5pt;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c #s-Button_6 span#rtr-s-Button_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 13.5pt;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-750c03f2-208a-4cb1-aa87-fa26dbecac5c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}