#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 > #backgroundBox {
  position: absolute;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Image {
  position: absolute;
  width: 430.0000000000016px;
  height: 709.1015625px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_1 {
  position: absolute;
  width: 105.82031250000188px;
  min-height: 32.3125px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Corbel',Arial;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Rectangle_7 {
  position: absolute;
  width: 50.233644859812955px;
  min-height: 45.0px;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  filter:  drop-shadow(5.51091059616309E-16px -3.0px 3px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 0.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Rectangle_7 > .borderLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 0.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 0.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Rectangle_8 {
  position: absolute;
  width: 50.233644859812955px;
  min-height: 45.0px;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  filter:  drop-shadow(-3.0px -0.0px 2px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 9.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Rectangle_8 > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D1D1D6;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 9.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 9.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_14 {
  position: absolute;
  width: 28.730430603027344px;
  height: 26.730440139770508px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_26 {
  position: absolute;
  width: 31.015117645263672px;
  height: 6.253898620605469px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_27 {
  position: absolute;
  width: 46.06859588623047px;
  height: 53.92605209350586px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_28 {
  position: absolute;
  width: 8.961432456970215px;
  height: 25.40853500366211px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_29 {
  position: absolute;
  width: 45.323001861572266px;
  height: 49.488502502441406px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_30 {
  position: absolute;
  width: 8.81639575958252px;
  height: 23.317676544189453px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Union_2 {
  position: absolute;
  width: 348.0032958984375px;
  height: 368.80712890625px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_5 {
  position: absolute;
  width: 347.62336420974134px;
  min-height: 72.10727795292155px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_5 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D1D1D6;
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_5 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_5 span {
  color: #FF3B30;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FF3B30;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_6 {
  position: absolute;
  width: 348.00327146033874px;
  min-height: 76.2941341955908px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D1D1D6;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_6 span {
  color: #0A84FF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #0A84FF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_8 {
  position: absolute;
  width: 348.00327146033874px;
  min-height: 46.63551539722158px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D1D1D6;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_8 span {
  color: #0A84FF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #0A84FF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_4 {
  position: absolute;
  width: 348.00327146034124px;
  min-height: 57.91548768065985px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_4 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_4 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_4 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_4 span {
  color: #8E8E93;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
  line-height: 18px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #8E8E93;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
  line-height: 18px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_2 {
  position: absolute;
  width: 348.00327146033874px;
  min-height: 41.59550250569856px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D1D1D6;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_2 span {
  color: #0A84FF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #0A84FF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_11 {
  position: absolute;
  width: 49.1484375px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Corbel',Arial;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_11 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Ellipse_1 {
  width: 27.999999999999773px;
  height: 32.00000000000017px;
  min-height: 32.00000000000017px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #8E8E93;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Subtraction_5 {
  position: absolute;
  width: 14.7806396484375px;
  height: 16.610153198242188px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_3 {
  position: absolute;
  width: 348.00327146033896px;
  min-height: 41.26527391989191px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D1D1D6;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_3 span {
  color: #0A84FF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #0A84FF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Input_5.checked > .backgroundLayer {
  background-image: url('../../images/e5ca9afc-0c8b-45f8-a563-4cd7302f42cf.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Input_5.unchecked > .backgroundLayer {
  background-image: url('../../images/687d7d7a-5977-48ce-8be5-5db0eca7e4e2.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Input_5 {
  position: absolute;
  width: 27.206250000001774px;
  height: 23.77733718483819px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Input_6.checked > .backgroundLayer {
  background-image: url('../../images/e0802b1f-b0ad-4a01-b27f-a4c68df70c91.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Input_6.unchecked > .backgroundLayer {
  background-image: url('../../images/62afda9e-fb4a-4119-b388-c5751ad47524.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Input_6 {
  position: absolute;
  width: 27.20625000000183px;
  height: 23.77733718483819px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_9 {
  position: absolute;
  width: 45.34375px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: center;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_9 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_10 {
  position: absolute;
  width: 89.49218749999977px;
  min-height: 18.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: center;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_10 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_6 {
  position: absolute;
  width: 38.88317871093898px;
  min-height: 32.09579467773432px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 16.04789733886716px;
  border-top-right-radius: 16.04789733886716px;
  border-bottom-right-radius: 16.04789733886716px;
  border-bottom-left-radius: 16.04789733886716px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_6 > .borderLayer {
  border-top-left-radius: 16.04789733886716px;
  border-top-right-radius: 16.04789733886716px;
  border-bottom-right-radius: 16.04789733886716px;
  border-bottom-left-radius: 16.04789733886716px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 16.04789733886716px;
  border-top-right-radius: 16.04789733886716px;
  border-bottom-right-radius: 16.04789733886716px;
  border-bottom-left-radius: 16.04789733886716px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_3 {
  position: absolute;
  width: 46.203712463378906px;
  height: 28.02496337890625px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_2 {
  position: absolute;
  width: 61.4570198059082px;
  height: 48.5341796875px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_4 {
  position: absolute;
  width: 57.0px;
  height: 53.281272888183594px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_5 {
  position: absolute;
  width: 54.630828857421875px;
  height: 55.33005142211914px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Input_1 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Input_1 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Input_1 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Input_1 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Input_1 {
  position: absolute;
  width: 312.39160136017495px;
  height: 41.89843749999926px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #EFEFF2;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Input_1 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 32px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_1 {
  position: absolute;
  width: 16.76076889038086px;
  height: 16.91897964477539px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_6 {
  position: absolute;
  width: 12.0px;
  height: 17.269668579101562px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_8 {
  position: absolute;
  width: 18.00006103515625px;
  height: 17.99981689453125px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_9 {
  position: absolute;
  width: 45.354000091552734px;
  height: 46.30099868774414px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_10 {
  position: absolute;
  width: 8.044331550598145px;
  height: 19.931116104125977px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_1 {
  position: absolute;
  width: 45.322999954224116px;
  min-height: 42.228844266603915px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_1 > .borderLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_11 {
  position: absolute;
  width: 53.0px;
  height: 41.8984375px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_2 {
  position: absolute;
  width: 47.85400009155141px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_2 > .borderLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Group_4 {
  z-index: 100;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_7 {
  position: absolute;
  width: 36.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_7 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_7 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_7 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.75pt;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.75pt;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_7 {
  position: absolute;
  width: 17.0px;
  height: 10.66670036315918px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_12 {
  position: absolute;
  width: 15.27301025390625px;
  height: 10.965625762939453px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_13 {
  position: absolute;
  width: 23.8280029296875px;
  height: 11.33331298828125px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Path_15 {
  position: absolute;
  width: 15.5px;
  height: 7.1457977294921875px;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 #s-Group_4 > * {
  z-index: 100;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-86222e75-e0a2-4761-9dc8-57ddf8ad3c40 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}