#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 > #backgroundBox {
  position: absolute;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_1 {
  position: absolute;
  width: 429.6958226351901px;
  min-height: 709.5492079624444px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 5px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.6);
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_1 .paddingLayer {
  padding-top: 20px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 18px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 18px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_2 {
  position: absolute;
  width: 429.6957964086416px;
  min-height: 102.83321854528151px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 14px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_2 {
  position: absolute;
  width: 147.3173828125px;
  min-height: 57.56998403757461px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Path_6 {
  position: absolute;
  width: 429.69580078125px;
  height: 20.56664276123047px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_3 {
  position: absolute;
  width: 429.6957964086416px;
  min-height: 102.83321854528151px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 14px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_3 {
  position: absolute;
  width: 64.458984375px;
  min-height: 72.35523517732668px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Path_8 {
  position: absolute;
  width: 12.313948631286621px;
  height: 31.611942291259766px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_4 {
  position: absolute;
  width: 429.6957964086416px;
  min-height: 102.83321854528185px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_4 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D6;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 14px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_4 {
  position: absolute;
  width: 84.423828125px;
  min-height: 48.236823451551004px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Path_9 {
  position: absolute;
  width: 12.313948631286621px;
  height: 31.611942291259766px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Path_5 {
  position: absolute;
  width: 12.313948631286621px;
  height: 31.611942291259766px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_5 {
  position: absolute;
  width: 429.6957964086416px;
  min-height: 102.83321854528191px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_5 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D6;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 14px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_5 {
  position: absolute;
  width: 55.958984375px;
  min-height: 48.23682345155095px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_6 {
  position: absolute;
  width: 429.6957964086416px;
  min-height: 102.83321854528162px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_6 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D6;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 14px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_6 {
  position: absolute;
  width: 105.1337890625px;
  min-height: 72.35523517732679px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Path_10 {
  position: absolute;
  width: 429.69580078125px;
  height: 20.56664276123047px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_7 {
  position: absolute;
  width: 429.6957964086416px;
  min-height: 154.24982781792275px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_7 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 14px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_7 {
  position: absolute;
  width: 96.12333977094545px;
  min-height: 56.276294026809666px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_8 {
  position: absolute;
  width: 81.64795722075655px;
  min-height: 48.23682345155092px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_8 span {
  color: #AEAEB2;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #AEAEB2;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Path_13 {
  position: absolute;
  width: 46.203712463378906px;
  height: 29.877716064453125px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Path_30 {
  position: absolute;
  width: 74.86068725585938px;
  height: 63.05550765991211px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Input_5.checked > .backgroundLayer {
  background-image: url('../../images/573bd9fa-83e3-4ad2-aa32-4d06064a19e5.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Input_5.unchecked > .backgroundLayer {
  background-image: url('../../images/05a2e1af-3310-4537-9e62-20284bd516aa.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Input_5 {
  position: absolute;
  width: 21.356640213088326px;
  height: 22.221876499055384px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Input_6.checked > .backgroundLayer {
  background-image: url('../../images/6a541efd-c572-41bd-b310-a6ce43cdda0b.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Input_6.unchecked > .backgroundLayer {
  background-image: url('../../images/2408e5c5-c799-4b46-a207-92a32e36341e.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Input_6 {
  position: absolute;
  width: 21.356640213088042px;
  height: 22.221876499055384px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Corbel',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_9 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_10 {
  position: absolute;
  width: 45.34375px;
  min-height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Corbel',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_10 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Path_17 {
  position: absolute;
  width: 28.15917205810547px;
  height: 36.64726257324219px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Ellipse_1 {
  width: 42.999999999999375px;
  height: 36.0px;
  min-height: 36.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #8E8E93;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Subtraction_5 {
  position: absolute;
  width: 23.82666015625px;
  height: 27.582839965820312px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_6 {
  position: absolute;
  width: 41.379999999999654px;
  min-height: 42.64531826972973px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 15.32265913486492px;
  border-top-right-radius: 15.32265913486492px;
  border-bottom-right-radius: 15.32265913486492px;
  border-bottom-left-radius: 15.32265913486492px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_6 > .borderLayer {
  border-top-left-radius: 15.32265913486492px;
  border-top-right-radius: 15.32265913486492px;
  border-bottom-right-radius: 15.32265913486492px;
  border-bottom-left-radius: 15.32265913486492px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 15.32265913486492px;
  border-top-right-radius: 15.32265913486492px;
  border-bottom-right-radius: 15.32265913486492px;
  border-bottom-left-radius: 15.32265913486492px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_11 {
  position: absolute;
  width: 49.1484375px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Corbel',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_11 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Path_2 {
  position: absolute;
  width: 61.4570198059082px;
  height: 48.5341796875px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Path_3 {
  position: absolute;
  width: 57.0px;
  height: 53.281272888183594px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Path_4 {
  position: absolute;
  width: 54.630828857421875px;
  height: 55.33005142211914px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_1 {
  position: absolute;
  width: 105.82031250000188px;
  min-height: 32.3125px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Corbel',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Path_14 {
  position: absolute;
  width: 45.354000091552734px;
  height: 46.30099868774414px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Path_15 {
  position: absolute;
  width: 8.044331550598145px;
  height: 19.931116104125977px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_1 {
  position: absolute;
  width: 45.322999954224116px;
  min-height: 42.228844266603915px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_1 > .borderLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Path_16 {
  position: absolute;
  width: 53.0px;
  height: 41.8984375px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_2 {
  position: absolute;
  width: 47.85400009155141px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_2 > .borderLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Group_13 {
  z-index: 100;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_12 {
  position: absolute;
  width: 36.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_12 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_12 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_12 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.75pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.75pt;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Path_1 {
  position: absolute;
  width: 17.0px;
  height: 10.66670036315918px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Path_18 {
  position: absolute;
  width: 15.27301025390625px;
  height: 10.965625762939453px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Path_19 {
  position: absolute;
  width: 23.8280029296875px;
  height: 11.33331298828125px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Path_20 {
  position: absolute;
  width: 15.5px;
  height: 7.1457977294921875px;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 #s-Group_13 > * {
  z-index: 100;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a6a315e4-d318-4c8a-828d-dc9eaae9e721 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}