#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c > #backgroundBox {
  position: absolute;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Image {
  position: absolute;
  width: 430.0000000000016px;
  height: 709.1015625px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Input_15 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Input_15 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Input_15 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Input_15 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Input_15 {
  position: absolute;
  width: 312.39160136017495px;
  height: 41.89843749999926px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Input_15 .valign {
  vertical-align: middle;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Input_15 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Input_15 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Input_15 > .backgroundLayer > .colorLayer {
  background-color: #EFEFF2;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Input_15 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Input_15 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Input_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 32px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Path_123 {
  position: absolute;
  width: 16.76076889038086px;
  height: 16.91897964477539px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Path_113 {
  position: absolute;
  width: 12.0px;
  height: 17.269668579101562px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Subtraction_4 {
  position: absolute;
  width: 18.00006103515625px;
  height: 17.99981689453125px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_1 {
  position: absolute;
  width: 105.82031250000188px;
  min-height: 32.3125px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Corbel',Arial;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Corbel',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Path_24 {
  position: absolute;
  width: 45.354000091552734px;
  height: 46.30099868774414px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Path_25 {
  position: absolute;
  width: 8.044331550598145px;
  height: 19.931116104125977px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Button_1 {
  position: absolute;
  width: 45.322999954224116px;
  min-height: 42.228844266603915px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Button_1 > .borderLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_7 {
  position: absolute;
  width: 50.233644859812955px;
  min-height: 45.0px;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  filter:  drop-shadow(5.51091059616309E-16px -3.0px 3px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 0.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_7 > .borderLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 0.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 0.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_8 {
  position: absolute;
  width: 50.233644859812955px;
  min-height: 45.0px;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  filter:  drop-shadow(-3.0px -0.0px 2px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 9.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_8 > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D1D1D6;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 9.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 9.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Path_14 {
  position: absolute;
  width: 28.730430603027344px;
  height: 26.730440139770508px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Path_26 {
  position: absolute;
  width: 31.015117645263672px;
  height: 6.253898620605469px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Path_29 {
  position: absolute;
  width: 45.323001861572266px;
  height: 49.488502502441406px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Path_30 {
  position: absolute;
  width: 8.81639575958252px;
  height: 23.317676544189453px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Path_128 {
  position: absolute;
  width: 28.76076889038086px;
  height: 28.918981552124023px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Path_8 {
  position: absolute;
  width: 53.0px;
  height: 41.8984375px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Button_7 {
  position: absolute;
  width: 47.85400009155141px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Button_7 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Button_7 > .borderLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Button_7 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Button_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Button_7 span#rtr-s-Button_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_9 {
  position: absolute;
  width: 269.0px;
  min-height: 180.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #F8F8F8;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_9 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_9 .paddingLayer {
  padding-top: 20px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_9 .valign {
  vertical-align: top;
  text-align: center;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_9 span {
  color: #F8F8F8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 18px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #F8F8F8;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 18px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Label_45 {
  position: absolute;
  width: 134.99999999999912px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Label_45 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Label_45 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D1D1D6;
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Label_45 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Label_45 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Label_45 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Label_45 span {
  color: #0A84FF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Label_45 span#rtr-s-Label_45_0 {
  color: #0A84FF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_18 {
  position: absolute;
  width: 226.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_18 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.75pt;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.75pt;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_19 {
  position: absolute;
  width: 226.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt300',Arial;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: center;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_19 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 9.75pt;
  line-height: 17px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 9.75pt;
  line-height: 17px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_2 {
  position: absolute;
  width: 135.99999999999912px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_2 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D1D1D6;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D1D1D6;
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_2 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_2 span {
  color: #0A84FF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #0A84FF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_4 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Ellipse_4 {
  width: 56.000000000000284px;
  height: 52.00000000000034px;
  min-height: 52.00000000000034px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #FF3B30;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Path_1 {
  position: absolute;
  width: 28.061279296875px;
  height: 3.7507476806640625px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Ellipse_2 {
  width: 22.0px;
  height: 22.0px;
  min-height: 22.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #0A84FF;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Path_10 {
  position: absolute;
  width: 11.583489418029785px;
  height: 8.833330154418945px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Ellipse_3 {
  width: 22.0px;
  height: 22.0px;
  min-height: 22.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #8E8E93;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Subtraction_6 {
  position: absolute;
  width: 11.934783935546875px;
  height: 11.888229370117188px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Path_2 {
  position: absolute;
  width: 61.4570198059082px;
  height: 48.5341796875px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Path_3 {
  position: absolute;
  width: 57.0px;
  height: 53.281272888183594px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Path_4 {
  position: absolute;
  width: 54.630828857421875px;
  height: 55.33005142211914px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Group_1 {
  z-index: 100;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_3 {
  position: absolute;
  width: 36.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_3 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_3 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_3 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.75pt;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.75pt;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Path_5 {
  position: absolute;
  width: 17.0px;
  height: 10.66670036315918px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Path_6 {
  position: absolute;
  width: 15.27301025390625px;
  height: 10.965625762939453px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Path_7 {
  position: absolute;
  width: 23.8280029296875px;
  height: 11.33331298828125px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Path_9 {
  position: absolute;
  width: 15.5px;
  height: 7.1457977294921875px;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c #s-Group_1 > * {
  z-index: 100;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e8a210bd-8265-4ddb-afd0-68aa2facc92c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}